<!DOCTYPE html>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li class="active"><a href="/Instance/index.html#">首页<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Link <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="daum-nav">
                            <li><a href="/Instance/weatherPro/weather.html">天气</a></li>
                            <li><a href="/Instance/roadPro/road.html">路况</a></li>
                            <li><a href="/Instance/housePro/house.html">租房</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>